nav{
    list-style: none;
    position: fixed;
    background: skyblue;
    width:100%;
    transition: all 1s ease-in-out;
}
nav li{
    float:left;
    width:15%;
    height:60px;
    line-height: 60px;
    text-align: center;
    background: skyblue;
    
}